src/*
!src/index.php

env/etc/composer/auth.json
!env/etc/git/*
!env/etc/git/gitconfig.example
env/etc/git/gitconfig

env/etc/m2install/.m2install.conf.override
env/docker-compose.override.yml
!env/etc/apache/vhost.conf.example
!env/etc/apache/default.conf
.idea
env/etc/apache/*
!env/etc/vhost.conf.example
