<?xml version="1.0"?>
<config>
    <profile>
        <configs>
            <config>
                <path>payment/some_payment/label</path>
                <scope>default</scope>
                <scopeId>0</scopeId>
                <value>Payment Label</value>
            </config>
            <config>
                <path>payment/encrypted/path</path>
                <scope>default</scope>
                <scopeId>0</scopeId>
                <value>password</value>
                <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
            </config>
        </configs>
    </profile>
</config>
