[mysqld]
## Network
bind-address                         = 0.0.0.0
## Cache
table-definition-cache               = 500
table-open-cache                     = 500
thread-cache-size                    = 32
query-cache-size                     = 32M
query-cache-type                     = 1

## Per-thread Buffers
read-buffer-size                    = 2M
read-rnd-buffer-size                = 16M
sort-buffer-size                    = 16M

## Temp Tables
max-heap-table-size                  = 512M
tmp-table-size                       = 512M

## Networking
interactive-timeout                  = 3600
max-connections                      = 100
max-connect-errors                   = 1000000
max-allowed-packet                   = 1024M
wait-timeout                         = 28800

## MyISAM
key-buffer-size                      = 32M
myisam-sort-buffer-size              = 32M

## InnoDB
innodb-buffer-pool-size              = 512M
innodb-log-file-size                 = 128M
innodb-thread-concurrency            = 8
innodb_flush_log_at_trx_commit       = 0
