[mysqld]
## Network
bind-address                        = 0.0.0.0
## Cache
table_definition_cache              = 500
table_open_cache                    = 500
thread_cache_size                   = 32
query_cache_size                    = 32M
query_cache_type                    = 1

## Per-thread Buffers
read_buffer_size                    = 2M
read_rnd_buffer_size                = 16M
sort_buffer_size                    = 16M

## Temp Tables
max_heap_table_size                 = 512M
tmp_table_size                      = 512M

## Networking
interactive_timeout                 = 3600
max_connections                     = 100
max_connect_errors                  = 1000000
max_allowed_packet                  = 1024M
wait_timeout                        = 28800

## MyISAM
key_buffer_size                     = 32M
myisam_sort_buffer_size             = 32M

## InnoDB
innodb_buffer_pool_size             = 512M
innodb_log_file_size                = 128M
innodb_thread_concurrency           = 8
innodb_flush_log_at_trx_commit      = 0
innodb_file_per_table               = 1
